@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-serif: "EB Garamond", ui-serif, serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  height: 100vh;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Twemoji styles */
img.twemoji {
  height: 1.3em;
  width: 1.3em;
  margin: 0 0em 0 0.2em;
  vertical-align: -0.2em;
  display: inline-block;
}
